extends common/layout 

block layout-content 
	h1(class="display-2 text-center subheading") Welcome to a new world of fashion 
	p(class="lead text-center tagline")
		em Unleash your inner chic
	div(class="position-relative overflow-hidden p-3 p-md-5 m-md-0 text-center main-sec")
		div(class="col-md-5 p-lg-5 mx-auto my-5")
			h1(class="display-4 font-weight-normal text-white") Spring Preview 
			p(class="lead font-weight-normal text-white") Checkout the sneak peeks
			a(class="btn btn-outline-secondary") See more
	div(class="d-md-flex flex-md-equal w-100 my-md-0 pl-md-3") 
		div(class="malecard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col-md-6")
			div(class="my-3 py-3")
				h2(class="display-5 text-black") Men's 
				p(class="lead text-black") Masculine pun here.
				div
					a(class="btn btn-outline-secondary" href="/mens") Go to Men's
				//img(src="images/cardmen.avif" class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px;")
		div(class="femalecard mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-md-6")
			div(class="my-3 py-3")
				h2(class="display-5") Women's 
				p(class="lead") Feminine pun here.
				div
					a(class="btn btn-outline-secondary" href="/womens") Go to Women's
				//- img(src="images/cardwomen.avif" class="mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px;")
	div(class="position-relative overflow-hidden p-3 p-md-0 m-md-0 text-center carusel") 
			div(id="caroAuto" class="carousel slide" data-bs-ride="carousel") 
				div(class="carousel-inner") 
					div(class="carousel-item active")
						div(class="d-block w-100 caro1") 
							h2(class="display-5 header-font-caro text-center pt-3") Boulon
							p(class="lead text-black text-center caro1-subtext") The environment and our vision for 2030
							div 
								a(class="btn btn-dark read-more-btn") Read More
					div(class="carousel-item") 
						div(class="d-block w-100 caro2")
							h2(class="display-5 text-white text-center pt-3") ÉCLAT | 2024
							p(class="lead text-white text-center") Paris • New York • London
							div 
								a(class="btn btn-dark read-more2-btn") Read More
					div(class="carousel-item") 
						div(class="d-block w-100 caro3") 
							h2(class="display-5 text-black text-center") Chelou
							p(class="lead text-black text-center") By Georges Larouche
							p(class="lead text-black text-center") It's weird. On Purpose
				button(class="carousel-control-prev" type="button" data-bs-target="#caroAuto" data-bs-slide="prev")
					span(class="carousel-control-prev-icon" aria-hidden="true")
					span(class="visually-hidden") Previous 
				button(class="carousel-control-next" type="button" data-bs-target="#caroAuto" data-bs-slide="next")
					span(class="carousel-control-next-icon" aria-hidden="true")
					span(class="visually-hidden") Next 