extends common/layout 

block layout-content 
	h1(class="display-2") Men's 
	table(class="table table-secondary table-bordered table-stripped-columns my-5 border border-black") 
		thead 
			tr 
				th(scope="col") Product 
				th(scope="col") Gender 
		tbody 
			if view.length > 0
				each offer in view 
					tr 
						td #{offer.size} #{offer.color} #{offer.name}
						td #{offer.section}
			else 
				tr 
					td(colspan="2") No offers available