doctype html 
html 
    head
        meta(charset="utf-8")
        title #{title} | Serpentry
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body
        header.nav-bar
            div.title-wrap
                h1.title Serpentry Fashion
                p.sub-title The latest in fashion
            nav.menu
                ul.nav-list 
                    li Home 
                    li Products
                    li More
        main.main-page
        h2 Our Offerings
        div#offerings 
            div.first-offering
                h3 men's wear
                img(src="/images/meanwear.jpeg" height="400px" width="auto")
            div.second-offering 
                h3 women's wear 
                img(src="images/womenwear.jpeg" height="400px" width="auto")
            div.third-offering
                h3 kid's wear 
                img(src="images/kidwear.avif" height="400px" width="auto")
        footer.footer 
            p.footer-text &copy; 2024 Serpentry Products Inc. All rights reserved.

