//- div(class="container-fluid px-0")
//- 	footer(class="py-3 py-4")
//- 		ul(class="nav justify-content-center border-bottom pb-3")
//- 			li(class="nav-item")
//- 				a(href="#" class="nav-link px-2 text-muted") Home
//- 			li(class="nav-item")
//- 				a(href="#" class="nav-link px-2 text-muted") Mens
//- 			li(class="nav-item")
//- 				a(href="#" class="nav-link px-2 text-muted") Womens
//- 		p(class="text-center text-muted py-0 my-0") &copy; 2024 Ederes Gure. All rights reserved


div(class="container py-5")
	div(class="row")
		div(class="col-12 col-md")
			span(class="fs-4 header-font") Boulon  
		div(class="col-6 col-md")
			h5 Features
			ul(class="list-unstyled text-small")
				li 
					a(class="text-muted" href="#") Stores
				li 
					a(class="text-muted" href="#") Order
				li 
					a(class="text-muted" href="#") Shopping
				li 
					a(class="text-muted" href="#") High Fashion
		div(class="col-6 col-md")
			h5 Company
			ul(class="list-unstyled text-small")
				li 
					a(class="text-muted" href="#") Mission
				li 
					a(class="text-muted" href="#") Privacy Policy
				li 
					a(class="text-muted" href="#") Environment
				li 
					a(class="text-muted" href="#") Legal
		div(class="col-6 col-md")
			h5 Men's
			ul(class="list-unstyled text-small")
				li 
					a(class="text-muted" href="#") Casual
				li 
					a(class="text-muted" href="#") Formal
				li 
					a(class="text-muted" href="#") Streetwear
				li 
					a(class="text-muted" href="#") Athletic
		div(class="col-6 col-md")
			h5 Women's
			ul(class="list-unstyled text-small")
				li 
					a(class="text-muted" href="#") Casual
				li 
					a(class="text-muted" href="#") Party
				li 
					a(class="text-muted" href="#") Athletic
				li 
					a(class="text-muted" href="#") Chic
		p(class="text-center text-muted pt-5 mt-2") &copy; 2024 Ederes Gure. All rights reserved